In [2]:
import os

In [29]:
path = '/home/ec2-user/SageMaker/netflix-prize-data'
file = 'combined_data_1.txt'

In [30]:
with open(os.path.join(path,file),'r') as f:
    st = f.readlines()

In [31]:
display(st[:10])
print('Number of records: {}'.format(len(st)))
del st

['1:\n',
 '1488844,3,2005-09-06\n',
 '822109,5,2005-05-13\n',
 '885013,4,2005-10-19\n',
 '30878,4,2005-12-26\n',
 '823519,3,2004-05-03\n',
 '893988,3,2005-11-17\n',
 '124105,4,2004-08-05\n',
 '1248029,3,2004-04-22\n',
 '1842128,4,2004-05-09\n']

Number of records: 24058263

In [32]:
path = '/home/ec2-user/SageMaker/netflix-prize-data'
file = 'combined_data_2.txt'

In [33]:
with open(os.path.join(path,file),'r') as f:
    st = f.readlines()

In [34]:
display(st[:10])
print('Number of records: {}'.format(len(st)))
del st

['4500:\n',
 '2532865,4,2005-07-26\n',
 '573364,3,2005-06-20\n',
 '1696725,3,2004-02-27\n',
 '1253431,3,2004-03-31\n',
 '1265574,2,2003-09-01\n',
 '1049643,1,2003-11-15\n',
 '1601348,4,2005-04-05\n',
 '1495289,5,2005-07-09\n',
 '1254903,3,2003-09-02\n']

Number of records: 26982302

In [35]:
path = '/home/ec2-user/SageMaker/netflix-prize-data'
file = 'combined_data_3.txt'

In [36]:
with open(os.path.join(path,file),'r') as f:
    st = f.readlines()

In [37]:
display(st[:10])
print('Number of records: {}'.format(len(st)))
del st

['9211:\n',
 '1277134,1,2003-12-02\n',
 '2435457,2,2005-06-01\n',
 '2338545,3,2001-02-17\n',
 '2218269,1,2002-12-27\n',
 '441153,4,2002-10-11\n',
 '1921624,2,2005-08-31\n',
 '2096652,3,2004-05-31\n',
 '818736,2,2004-02-17\n',
 '284560,3,2003-07-27\n']

Number of records: 22605786

In [38]:
path = '/home/ec2-user/SageMaker/netflix-prize-data'
file = 'combined_data_4.txt'

In [39]:
with open(os.path.join(path,file),'r') as f:
    st = f.readlines()

In [40]:
display(st[:10])
print('Number of records: {}'.format(len(st)))
del st

['13368:\n',
 '2385003,4,2004-07-08\n',
 '659432,3,2005-03-16\n',
 '751812,2,2002-12-16\n',
 '2625420,2,2004-05-25\n',
 '1650301,1,2005-08-30\n',
 '2269227,4,2005-10-27\n',
 '2220672,4,2002-08-19\n',
 '2500511,4,2003-08-11\n',
 '1452058,2,2005-01-29\n']

Number of records: 26851926

In [41]:
path = '/home/ec2-user/SageMaker/netflix-prize-data'
file = 'probe.txt'

In [42]:
with open(os.path.join(path,file),'r') as f:
    st = f.readlines()

In [43]:
display(st[:10])
print('Number of records: {}'.format(len(st)))
del st

['1:\n',
 '30878\n',
 '2647871\n',
 '1283744\n',
 '2488120\n',
 '317050\n',
 '1904905\n',
 '1989766\n',
 '14756\n',
 '1027056\n']

Number of records: 1425333

In [44]:
path = '/home/ec2-user/SageMaker/netflix-prize-data'
file = 'movie_titles.csv'

In [45]:
with open(os.path.join(path,file),'r',encoding='cp1252') as f:
    st = f.readlines()

In [46]:
display(st[:10])
print('Number of records: {}'.format(len(st)))
del st

['1,2003,Dinosaur Planet\n',
 '2,2004,Isle of Man TT 2004 Review\n',
 '3,1997,Character\n',
 "4,1994,Paula Abdul's Get Up & Dance\n",
 '5,2004,The Rise and Fall of ECW\n',
 '6,1997,Sick\n',
 '7,1992,8 Man\n',
 '8,2004,What the #$*! Do We Know!?\n',
 "9,1991,Class of Nuke 'Em High 2\n",
 '10,2001,Fighter\n']

Number of records: 17770

In [26]:
path = '/home/ec2-user/SageMaker/netflix-prize-data'
file = 'qualifying.txt'

In [27]:
with open(os.path.join(path,file),'r',encoding='cp1252') as f:
    st = f.readlines()

In [28]:
display(st[:10])
del st

['1:\n',
 '1046323,2005-12-19\n',
 '1080030,2005-12-23\n',
 '1830096,2005-03-14\n',
 '368059,2005-05-26\n',
 '802003,2005-11-07\n',
 '513509,2005-07-04\n',
 '1086137,2005-09-21\n',
 '428698,2005-12-20\n',
 '515850,2005-11-27\n']